@import "../variables.module.scss";

.header {
  height: 100%;
  font-family: "Public Sans";
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;

  .menu {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
  }

  .link {
    text-decoration: none;
    color: $color-neutral-gblue;
  }

  .button {
    height: 50px;
    width: 165px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(
      to right,
      $color-primary-lgreen,
      $color-primary-bcyan
    );
    color: $white;
    font-size: 14px;
    font-weight: bold;
  }
}
