._spacer-xs {
  margin-bottom: 1.5rem;
}

// spacer - 30px
._spacer-sm {
  margin-bottom: 3rem;
}

// spacer - 45px
._spacer-md {
  margin-bottom: 4.5rem;
}

// spacer - 60px
._spacer-xl {
  margin-bottom: 6rem;
}
