// FONTS
$font-primary: 'Public Sans', sans-serif;

// COLORS

// primary
$color-primary-dblue: hsl(233, 26%, 24%);
$color-primary-lgreen: hsl(136, 65%, 51%);
$color-primary-bcyan: hsl(192, 70%, 51%);

// neutral
$color-neutral-gblue: hsl(233, 8%, 62%);
$color-neutral-lgblue: hsl(220, 16%, 96%);
$color-neutral-vlgray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: black;
